//services
.services
  width: 100%
.services__card
  background: $gray
  padding: 15px
.services__title
  +font(21px, $font-rozhaone, 500)
  letter-spacing: 0.2px
  margin-bottom: 20px
.services__text
  +font(16px, $font-raleway, 400)
//services END