//main
.success
  background: $auqa
  padding-top: 60px
  min-height: 600px
  width: 1024px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @media only screen and (max-width : 1279px)
    width: 980px
  @media only screen and (max-width : 1023px)
    width: 740px
  @media only screen and (max-width : 767px)
    width: 460px
    padding-left: 10px
    padding-right: 10px
  @media only screen and (max-width : 479px)
    width: 100%

.success__img
  align-self: center
  align-items: center
